MIND_small/csv/behaviors_with_individual_counts.csv
MIND_small/csv/news_big_embeddings.csv
pure_embeddings.csv
MIND_small/csv/news_BERT_extracted_embeddings.csv
MIND_small/csv/tensorflowDataset.csv
MIND_large/csv/tensorflowDataset.csv
MIND_large/csv/tensorflowDatasetFull.csv